<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- 配置监听器 -->
	<listener>
		<listener-class>com.bdyc.listener.ApplicationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.bdyc.listener.OnlineListener</listener-class>
	</listener>
	
	
	<!-- 编码过滤器配置：在其他所有过滤器的最前面 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.bdyc.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 登录权限过滤器配置 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.bdyc.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	 

	
	
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 用户sevlet -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.bdyc.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user/UserServlet</url-pattern>
  </servlet-mapping>
	<!-- 角色Servlet -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.bdyc.servlet.RoleServlet</servlet-class>
  </servlet>
  <!-- 资源Servlet -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.bdyc.servlet.ResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/role/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resource/ResourceServlet</url-pattern>
  </servlet-mapping>
 
  <error-page>
  	<error-code>500</error-code>
  	<location>/page/error/500.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/page/error/404.jsp</location>
  </error-page>
	
	
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
